Repository tmbtech/multi-codeowners-test-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-team, @frontend-team, @docs-team, @devops-team, @security-team

.github/CODEOWNERS:

# Test CODEOWNERS file for multi-codeowners action testing
# These users/teams don't need to exist - they're used for pattern matching

# Global owners (fallback)
* @global-team

# Frontend files - owned by frontend team
*.js @frontend-team
*.ts @frontend-team
*.tsx @frontend-team
src/ @frontend-team

# Documentation - owned by docs team
*.md @docs-team
/docs/ @docs-team

# Configuration files - require multiple teams
*.json @frontend-team @devops-team
*.yml @devops-team
*.yaml @devops-team

# Critical files requiring multiple approvals
package.json @frontend-team @devops-team @security-team
yarn.lock @frontend-team @devops-team

# GitHub configuration
.github/ @devops-team @security-team

refactor: update workflows to use published action tmbtech/multi-codeowners@v1
  .github/workflows/code-owners-enforcement.yml
  .github/workflows/multi-codeowners-integration.yml
  README.md
Owners: @devops-team, @security-team, @docs-team

Add dummy file for bot testing
  dummy-file.md
Owners: @docs-team

feat: add temporary codeowner enforcement workflow
  .github/workflows/codeowner-enforcement-new.yml
  docs/multi-codeowners-bundling-issue.md
Owners: @devops-team, @security-team, @docs-team

fix: update to use fixed upstream action v1.0.1
  .github/workflows/codeowner-enforcement-new.yml
  docs/multi-codeowners-bundling-issue.md
Owners: @devops-team, @security-team, @docs-team

fix(ci): simplify test results reporting logic for v1.0.1 action behavior
  .github/workflows/multi-codeowners-integration.yml
Owners: @devops-team, @security-team
